.service-card-container{
    padding-left: 50px;
    margin-top: 50px;
}
.service-card {
    background: #fff;
    box-shadow: 0 0 10px -6px #111;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
}
.service-card img{
    width: 100px
}
.service-card h3 {
    padding: 10px 0;
}
.service-card p{}
.serivce-card-status {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 7px 18px;
    background: #FFE3E3;
    color: #FF4545;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
}